# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
*.db

# Node
node_modules/
dist/
.vite/

# Env
.env
.env.local

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Windows
*:Zone.Identifier

# Internal Docs
PLAN.md
HISTORY.md
